.about{
    font-size: 25px;
}
.ryan{
    text-align: center;
    font-size: 30px;
}
.ry{
    text-align: center;
    font-size: 20px;
}
.how{
    text-align: center;
    font-size: 30px;
}
.co{
    text-align: center;
    font-size: 20px;
}
.ig{
    width: 55px;
}
.wa{
    width: 75px;
}
